* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body {
    font-family: sans-serif;
    background-color: #ffffcc;
}

header {
    position: fixed;
    width: 100%;
    background: #ffb610;
    padding: 0 1rem;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    top: 0;
    z-index: 100000;
}

header span {
    font-size: 1.9rem;
    float: left;
    color: white;
    line-height: 50px;
    padding: 0 2%;
        
}

header .header1 {

    width: 100%;
    
}
header .header1 form #search {
    
    height: 34px;
    width: 90%;
    margin: 0.3rem 5%;
    outline: none;
    border: 1px solid white;
    outline: none;
    padding: 0 1rem;
    border-radius: 8px;
    font-size: 1.1rem;
}

header .header1 .navlink {
    position: relative;
    overflow: hidden;
    margin-left: 5%;
}

header .header1 .navlink a {
    text-decoration: none;
    color: white;
    padding: 0 13px;
    line-height: 55px;
}

header .header1 .navlink a:hover {
    color: #78754f;
}

header ul {
    width: 33%;
    float: right;
    display: flex;
    align-items: center;
    justify-content: center;
}
header ul li {
    list-style: none;
}
header ul li a {
    text-decoration: none;
    padding: 0.3rem;
    color: white;
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
    font-size: 13px;
    
}

.aaa {
    border-right: 1px solid white;
}

header ul li a:hover {
    color: #78754f;  
}


.checkbtn {
    font-size: 2.1rem;
    display: none;
    float: right;
    line-height: 50px;
    cursor: pointer;
}

#check {
    display: none;
}

.customer {
    
    border-radius: 5px;
    padding: .5rem .5rem;
    background-color: wheat;
    color: black;
}

.customer:hover {
    background-color: #f2d4b8;
}


@media (min-width: 858px) {
    .container-body {
        margin-top: 100px;
    }
}
@media (max-width: 858px) {
    .checkbtn {
        display: block;
        
    }

    .container-body {
        margin-top: 50px;
    }

    

    .aaa {
        border-right: none;
    }

    header {
        height: 50px;
        display: block;
    }

    
    header .header1 {
        width: 100%;
        position: fixed;
        display: block;
        top: 50px;
        left: -100%;
        
        background: grey;
        text-align: center;
        z-index: 4;
    }

    header .header1 .navlink  {
        text-transform: uppercase;
        width: 100%;
        position: fixed;       
        top: 100px;
        margin-left: 0%;
        height: 200px;
        background: grey;
        text-align: center;
        z-index: 4;
    }

    header .header1 .navlink a {
        display: block;
        font-size: 13px;
        border-bottom: 1px solid white;
        line-height: 50px;
    }

    header .header1 form {
        top: 50px;
        border-bottom: 1px solid white ;
        line-height: 50px;
    }
    header.header1 form #search {
        
        width: 90%; 
        
        

    }

    header ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: grey;
        top: 300px;
        left: -100%;
        text-align: center;
        display: block;
        justify-content: start;
    }

    header ul li {
        border-bottom: 1px solid white;
        margin-top: 0;
        
    }

    header ul li:first-child {
        
        border-top: 1px solid white ;
        
    }

    
    #check:checked ~ ul, #check:checked ~ .header1 {
        left: 0;
        z-index: 3;
    }
}
/*****************************************************************************************************************/

@media (min-width: 858px) {
    .container-body {
        margin-top: 100px;
    }
}
@media (max-width: 858px) {
    .checkbtn {
        display: block;
        
    }

    .container-body {
        margin-top: 50px;
    }

}

.first-part {      
    width: 100%;
    background: #ffffcc;
    
}

.carousel {
    position: relative;
    width: 50%;
    height: 21em;
    background: white;
    margin: 0 auto; 
    overflow: hidden;
    border-radius: 2px;
}

.first-part .carousel .imageHolder{
    width: 100%;
    height: 100%;  
    position: absolute;
    opacity: 0;
}

.first-part .carousel .imageHolder img{
     width: 100%;
     height: 100%;
    
 
}

.first-part .carousel .leftArrow, .first-part .carousel .rightArrow {
    background: #00000036;
    z-index: 1;
    cursor: pointer;
    position: absolute;
    font-size: 2.5rem;
    border-radius: 3px;
}

.first-part .carousel .leftArrow {
    top: 50%;    
    transform: translateY(-50%);
}

.first-part .carousel .rightArrow {
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

.first-part #dotsContainer {
    width: 100%;
    height: 10%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    
}

.first-part #dotsContainer .dots {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: black;
    border-radius: 50%;
    cursor: pointer;
    transition: black .5s;
    margin: 0 3px;
}
/*****************************************************************************************************************/
/*MEDIA FOR CAROUSEL */
@media (max-width: 800px) {
    .carousel {
        position: relative;
        width: 55%;
        height: 18em;
    }
    
}

@media (max-width: 600px) {
    .carousel {
        position: relative;
        width: 78%;
        height: 13em;
    }
}
/*****************************************************************************************************************/
/*AUTO NEXT IMG*/
.first-part #dotsContainer .dots:hover, .first-part #dotsContainer .active {
    background: gray;
}

.first-part .moveLeftCurrentSlide {
    animation-name: moveLeftCurrent;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.first-part .moveLeftNextSlide {
    animation-name: moveLeftNext;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes moveLeftCurrent {
    from {
        margin-left: 0;
        opacity: 1;
    }
    to {
        margin-left: -100%;
        opacity: 1;
    }
}

@keyframes moveLeftNext {
    from {
        margin-left: 100%;
        opacity: 1;
    }
    to {
        margin-left: 0;
        opacity: 1;
    }
}
popup
.first-part .moveRightCurrentSlide {
    animation-name: moveRightCurrent;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.first-part .moveRightNextSlide {
    animation-name: moveRightNext;
    animation-duration: .5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

@keyframes moveRightCurrent {
    from {
        margin-left: 0;
        opacity: 1;
    }
    to {
        margin-left: 100%;
        opacity: 1;
    }
}

@keyframes moveRightNext {
    from {
        margin-left: -100%;
        opacity: 1;
    }
    to {
        margin-left: 0;
        opacity: 1;
    }
}
/*****************************************************************************************************************/

/*Carousel, content*/
.content {  
    width: 100%;    
    margin-top: 2rem;
    margin-bottom: 3rem;
}
/*
.content .arrange {
    width: 90%;
    height: 2.5rem;
    background: #b3b300;
    margin: 0 auto;
    border-radius: 8px;
    line-height: 40px;
}
*/
/*CATEGORY*/
.content .category {
    display: flex;
    width: 94%;
    margin: 0 auto;  
    
    display: flex;
    flex-wrap: wrap;
}

.content .category .item {
    width: 12.5%;
    position: relative;
    border: 1px solid white;
    
}

.content .category .item a {
    text-decoration: none;
}
.content .category .item div {
    background-color: #b3b300;
    width: 100%;
    height: 3.9rem;
    border-radius: 5px;
    z-index: 1;
}

.content .category .item span {
    width: 98%;
    position: absolute;
    text-align: center;
    z-index: 2;
    left: 1%;
    top: 30%;
    font-size: 1rem;
    word-break: break-word;
    color: black;
}
/*****************************************************************************************************************/
/*PRODUCT*/
.content .product {   
    width: 94%;  
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1px;
} 
.content .product .product-item {
    width: 19%;
    background-color: #cccc00;
    text-align: center;
    margin: 0.5%;
    border-radius: 8px;
}    

.content .product .product-item button{
    background-color: white;
    padding: .5rem .2rem;
    bottom: 0;
    margin-bottom: .5rem;
    border: none;
}

.content .product .product-item a{
    text-decoration: none;
    color: black;
    font-size: 1.1em;
    word-break: break-word;
} 

.content .product .product-item a span{
    line-height: 2rem;
    color: red;
    
} 

.content .product .product-item img{
    width: 100%;
    
    
}

/*****************************************************************************************************************/
@media (max-width: 800px) {
    .content .product .product-item {
        width: 32.533%;
        
        border: 1px solid white;
        margin: 0.4%;
    } 

    .content .category .item div {
        height: 3.1rem;
    }

    .content .category .item {
        width: 25%;
    }
}

@media (max-width: 600px) {
    .content .product .product-item {
        width: 49%;
        border: 1px solid white;
        margin: 0.5%;
    } 
    .content .product .product-item a{
        font-size: .8em;
    } 
    .content .category .item {
        width: 25%;
    }

    .content .category .item span {
        font-size: .7rem;     
    }


}
/*****************************************************************************************************************/
/*MY CART*/
#my-cart {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    font-size: 3rem;
    background-color: #808000;
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
}

#my-cart a i {
    color: white;
}

#my-cart #count-product {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 .5rem;
    font-size: 1.5rem;
    background-color: #e6e600;
    border-radius: 50%;
    color: #808000;
}
.container-paginate {
    text-align: center;
    margin: 1.5rem auto;
}
.paginate {
    padding: .5rem .8rem;
    background-color: #808000;
    text-decoration: none;
    margin-left: .6rem;
    color: white;
    border-radius: 5px;
}

.paginate:hover {
    background-color: #e6e600;
    color: #4d4d00;
}


.arrange span {
    background-color: #808000;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    
}
.arrange {
    position: relative;
    display: inline-block;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 3%;

}

.arrange .dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: .5rem;
}

.arrange .dropdown button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    border: none;
    outline: none;
}
.arrange .dropdown button:hover {
    background-color: #808000;
    color: white;
}

.arrange:hover .dropdown {
    display: block;
    background-color: white;
}

/*************************POPUP************************************************/
.popup {
    z-index: 1;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 200px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    
}

.popup-content {
    max-width: 300px;
    margin: auto;
    background-color: #ffff80;
    padding: .7rem;
    text-align: center;
    border-radius: 10px;
}

.popup-content button {
    width: 5rem;
    margin: .5rem;
    padding: .4rem;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #666600;
    color: white;
    border-radius: 5px;
}

.popup-content button:hover {
    background-color: #b3b300;
}

.add-to-cart {
    cursor: pointer;
}