input {
    height: 1.6rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ffffcc;
    
}

.container-info {
    background-color: rgb(226, 233, 168);
    width: 70%;
    margin: 110px auto 0;
    border-radius: 10px;
}

@media (max-width: 858px) {
    .container-info {
        margin-top: 55px;
    }
}

.container-info .item {
    padding: .6rem 0;
    margin: 0 auto;
    width: 45%;
    background: rgb(226, 233, 168);
}

.container-info .item input,textarea {
    width: 100%;
    padding: 5px 5px;
}

#submit-bill {
    width: 30%;
    height: 2rem;
    margin-left: 35%;
    margin-bottom: 2rem;
    margin-top: 1rem;
    cursor: pointer;
    background-color: #999900;
    color: white;
    outline: none;
    border: none;
}

#submit-bill:hover {
    background-color: #ffffcc;
    color: black;
}

#price-bill {
    border: none;
}

/*Detailed product*/
.container-info .detailed-item {
    width: 45%;
    margin: 0 auto;
    display: flex;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding: .3rem;
}

.container-info .detailed-item img {
    width: 14%;
    height: 2.7rem;
}

.container-info .detailed-item .price-and-quantity {
    padding: 0 .5rem;
}
/*800px*/
@media (max-width: 800px) {
    .container-info {
        width: 90%;
    }

    .container-info .item, .container-info .detailed-item {
        width: 70%;
    }

    
}

/*600px*/
@media (max-width: 600px) {
    .container-info {
        width: 96%;
    }

    .container-info .item, .container-info .detailed-item {
        width: 95%;
    }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.err {
    color: red;
}