* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 20px;
}
.header {
    width: 100%;
    display: flex;
    background-color: #f4f807;
    justify-content: space-between;
}

.header .logo {
    width: 3rem;
    padding: .1rem;
}

.header .logo img {
    width: 100%;
}

.header .search-bar {
    width: 18rem;
    text-align: center;
    line-height: 46px;
    
}

.header .search-bar input {
    width: 14rem;
    height: 1.5rem;
    border: none;
    padding: .5rem;
}

.header .search-bar button {
    width: 2rem;
    height: 1.5rem;
    margin: 0;


}

.header .navlink {
    line-height: 46px;
    
}

.header .navlink a {
    text-decoration: none;
    color: black;
    height: 30px;
    
    width: 40px;
    border-radius: 5px;
    padding: .5rem .6rem;
}

.header .navlink a:hover {
    background-color: #f2d4b8;
}

.header .account {
    line-height: 46px;
    padding: 0 .5rem;
}

.header .account a {
    text-decoration: none;
    color: black;
    padding: 0 .2rem;
}

.header .account a:hover {
    color: #f2d4b8;
}

.aaa {
    border-right: 1px solid white;
}

@media (max-width: 790px) {
    .header {
        display: none;
    }
}