* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #ffffcc;
    margin-bottom: 6rem;
}
.container {
    width: 55%;
    margin: 110px auto 21rem;
    background-color: #b3b300;
    
}

.container .bill {
    width: 100%;
    display: flex;
    margin: 0 auto;
    padding: .2rem;
    border-bottom: 5px solid #ffffcc;
}

.container .bill .image {
    width: 24%;
}

.container .bill .image img {
    width: 100%;
}

.container .bill .content {
    width: 79%;
    margin: .3rem 1rem 0;
    font-size: 1.2rem;
}

.container .bill .content p {
    word-break: break-word;
    
}

.container .bill .content input {
    width: 3rem;
    text-align: center;
    margin: 0 .6rem;
}

.container .bill .content i {
    background-color: #808000;
    color: azure;
    padding: .4rem;
    font-size: .7rem;
    border-radius: 5px;
    cursor: pointer;
}

.container .bill .content .price-product {
    color: white;
}

/*MONEY*/
.money {
    position: fixed;
    width: 76%;
    background-color: #808000;
    bottom: 0;
    left: 12%;
    padding: 1.2rem 1rem 1.2rem;
    display: flex;
    font-size: 1.7rem;
    justify-content: space-between;
}

.money .sum {
    color: white;
}

.money .buy-it a {
    padding: .5rem .1rem;
    background-color: #ffffcc;
    text-decoration: none;
    color: #808000;
    border-radius: 10px;
}

.money .buy-it a:hover {
    background-color: #4d4d00;
    color: white;
}

@media (max-width: 858px) {
    .container {
        margin-top: 60px;
 
    }
}
@media (max-width: 800px) {
    .container {
        width: 96%;
        
  
    }

    .container .bill .content {
        
        margin: .5rem .7rem 0;
        font-size: 1.5rem;
    }

    .money {
        width: 100%;
        padding: 1.2rem 3rem 1.2rem;
        left: 0;
        display: flex;
        font-size: 1.5rem;
        justify-content: space-between;
    }

}



@media (max-width: 600px) {
    .container {
        width: 96%;
 
    }

    .container .bill .image {
        width: 24%;
    }

    .container .bill .content {
        
        margin: .1rem .4rem 0;
        font-size: 1rem;
    }

    .money {
        width: 100%;
        padding: 1.2rem 0rem 1.2rem;
        left: 0;
        display: flex;
        font-size: 1.3rem;
        justify-content: space-between;
    }
}

.empty-cart {
    width: 50%;
    margin: 4rem auto;
    
    text-align: center;
    font-size: 2rem;
}


#delete-item {
    display: none;
}

.submit-delete-item {
    width: 7rem;
    padding: .4rem 0;
    border: 1px solid #808000;
    background-color: #ffffcc;
    color: #808000;
    margin-top: .4rem;
    cursor: pointer;
}

.submit-delete-item:hover {
    background-color: #4d4d00;
    color: white;
}

.submit-delete-item-real {
    display: none;
}

/***************popup*-----------------------------*/

.popup {
    z-index: 1;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 200px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    
}

.popup-content {
    max-width: 500px;
    margin: auto;
    background-color: #ffff80;
    padding: .7rem;
    text-align: center;
    border-radius: 10px;
}

.popup-content button {
    width: 5rem;
    margin: .9rem;
    padding: .5rem;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: #666600;
    color: white;
    border-radius: 5px;
}

.popup-content button:hover {
    background-color: #b3b300;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
