* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #f2d4b8;
    margin-bottom: 6rem;
}
.container {
    width: 55%;
    margin: 110px auto 4rem;
    background-color: #fff6e9;
    
}

.container .bill {
    width: 100%;
    display: flex;
    margin: 0 auto;
    padding: .2rem;
    border-bottom: 1px solid gray;
}

.container .bill .image {
    width: 24%;
}

.container .bill .image img {
    width: 100%;
}

.container .bill .content {
    width: 79%;
    margin: .3rem 1rem 0;
    font-size: 1.2rem;
}

.container .bill .content p {
    word-break: break-word;
    
}

.container .bill .content input {
    width: 3rem;
    text-align: center;
    margin: 0 .6rem;
}

.container .bill .content i {
    background-color: green;
    color: azure;
    padding: .4rem;
    font-size: .7rem;
    border-radius: 5px;
    cursor: pointer;
}

.container .bill .content .price-product {
    color: red;
}

/*MONEY*/
.money {
    position: fixed;
    width: 76%;
    background-color: pink;
    bottom: 0;
    left: 12%;
    padding: 1.2rem 1rem 1.2rem;
    display: flex;
    font-size: 1.7rem;
    justify-content: space-between;
}

.money .sum {
    color: red;
}

.money .buy-it a {
    padding: .5rem .1rem;
    background-color: orange;
    text-decoration: none;
    color: red;
    border-radius: 10px;
}

@media (max-width: 858px) {
    .container {
        margin-top: 60px;
 
    }
}
@media (max-width: 800px) {
    .container {
        width: 96%;
        
  
    }

    .container .bill .content {
        
        margin: .5rem .7rem 0;
        font-size: 1.5rem;
    }

    .money {
        width: 100%;
        padding: 1.2rem 3rem 1.2rem;
        left: 0;
        display: flex;
        font-size: 1.5rem;
        justify-content: space-between;
    }

}



@media (max-width: 600px) {
    .container {
        width: 96%;
 
    }

    .container .bill .image {
        width: 24%;
    }

    .container .bill .content {
        
        margin: .1rem .4rem 0;
        font-size: 1rem;
    }

    .money {
        width: 100%;
        padding: 1.2rem 0rem 1.2rem;
        left: 0;
        display: flex;
        font-size: 1.3rem;
        justify-content: space-between;
    }
}

.empty-cart {
    width: 50%;
    margin: 4rem auto;
    
    text-align: center;
    font-size: 2rem;
}


#delete-item {
    display: none;
}

#submit-delete-item {
    width: 7rem;
    padding: .2rem 0;
    border: 1px solid black;
    background-color: bisque;
    margin-top: .4rem;
}

