* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffff80;
}

.container {
    position: relative;
    max-width: 370px;
    height: 90vh;
    background: #999900;
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 7px;
}

.container .logo {
    font-size: 3rem;
    padding: 1rem;
    background: #999900;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

.container .login {
    font-size: 1.5rem;
    padding: 1rem;
    font-family: Arial, Helvetica, serif;
    color: white;
    
    
}



.container form i {
    
    padding: 10px;
    color: #999900;
    
    background: #ffff80;
    height: 39px;
}

.container form input {
    width: 80%;
    padding: 0 10px;
    height: 39px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    outline: none;
    border: 1px solid white;
    font-size: .8rem;
}

.container form input:focus {
    border: 2px solid #ffff80;
}

.container form .info { 
    display: flex;
    margin-bottom: 13px;
    justify-content: center;
}



#btn1 {
    width: 55%;
    margin: 0 5%;
    background: #ffff80;
    margin-bottom: 10px;
    opacity: 0.9;
    cursor: pointer;
    border: none;
    border-radius: 5px;
} 

#btn1:hover {
    opacity: 1;
}

.container .choice {
    width: 100%; 
    border-bottom: 1px solid white; 
    line-height: 2px;
    margin: 10px 0 20px; 
 } 

.container .choice .choice1 { 
    background:#999900; 
    padding:0 7px; 
    color: white;
    font-size: .8rem;
}

.btn2 {
    width: 55%;
    padding: 10px;
    margin: 0 5%;
    background: #ffff80;
    margin-bottom: 10px;
    opacity: 0.9;
    cursor: pointer;
    border: none;
    border-radius: 3px;
} 

.btn2 a {
    color: black;
    text-decoration: none;
    font-size: .8rem;
}


form .error {
    color: #cc0000;
    font-size: .8rem;
    align-self: center;
    
    line-height: 20px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}